<%- layout('layouts/boilerplate') %>
<div class="container border" style="background-color: #F5F5DC;">
    <h2 style="text-align: center;">Package Tracking</h2>
    <div class="card my-4" style="width: 70%; margin-left: 150px; background-color: azure;">
        <div class="card-header">
            <strong>Trackng ID - </strong> <strong><%= pack.trackingId %></strong>
        </div>
        <div class="card-body">
            <div style="margin-left: 140px;">
                <div id='map' style='width: 400px; height: 300px;'></div>
            </div>
            <h4 class="mt-2">Your Package is at: Fedex warehouse, <%= pack.location %></h4>
            <h4 class="mt-2">Shipment State: <%= pack.state %></h4>
            <h4 class="mt-2">Estimated Time: <%= pack.est %></h4>
        </div>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
</div>
<script>
    const pack = <%- JSON.stringify(pack) %>
</script>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3Jpa2FyMTQiLCJhIjoiY2ttYXJkenV2MWI1ajJ1bnVwcGFncDR2ayJ9.aG2LXb6d2UW8Epj5xgNTyQ';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: pack.geometry.coordinates, // starting position [lng, lat]
        zoom: 9 // starting zoom
    });
    var marker = new mapboxgl.Marker()
        .setLngLat(pack.geometry.coordinates)
        .addTo(map);
</script>